[submodule "themes/portio-hugo"]
	path = themes/portio-hugo
	url = https://github.com/StaticMania/portio-hugo/
[submodule "themes/projects-theme"]
	path = themes/projects-theme
	url = git@github.com:rancherlabs/projects-theme.git
